<%- include ('navbar.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>patent</title>
    <link rel="stylesheet" href="/css/patentsearch.css" />
    <link rel="stylesheet" href="/css/patent.css" />
  </head>
  <body>
    <div class="field">
      <form action="/trends/patent" method="POST" autocomplete="off">
        <input
          type="text"
          id="keyword"
          name="search"
          class="search"
          placeholder="Enter Uspto productShortName"
          required
        />
        <button  class="btn btn-primary" value="search" type="submit">
          Search
        </button>
        
      </form>
    </div>
    <div class="Body">
     
      <% { %>
      <ul class="list-group">
        <li class="list-group-item d-flex mb-1" aria-disabled="true">
          <div class="tag">ProductShortName :</div>
         <div id="shortname"> <%=articles.productShortName %> </div> 
        </li>
        <li class="list-group-item d-flex mb-2">
          <div class="tag">ProductTitle :</div>
            <div id="producttitle"> <%=articles.productTitle %></div>
          
        </li>
        <li class="list-group-item d-flex mb-2">
          <div class="tag">ProductDesc:</div>

         <div id="productdesc"><%=articles.productDesc %></div> 
        </li>
        <li class="list-group-item d-flex mb-2">
          <div class="tag">ProductFromDate :</div>
          <div id="productfromdate"><%=articles.productFromDate %></div>
        </li>
        <li class="list-group-item d-flex mb-2">
          <div class="tag">ProductToDate :</div>

          <div id="producttodate"><%=articles.productToDate %></div>
        </li>
      </ul>
    </div>
  </body>
</html>
<% } %>
